body {
	margin: 0;
}

.grid, .row, .column {
	position: absolute;
	
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	
	overflow-x: hidden;
	overflow-y: hidden;
}

.column.offset0 { left: 0.0000%; }
.column.offset1 { left: 8.3333%; }
.column.offset2 { left: 16.6667%; }
.column.offset3 { left: 25.0000%; }
.column.offset4 { left: 33.3333%; }
.column.offset5 { left: 41.6667%; }
.column.offset6 { left: 50.0000%; }
.column.offset7 { left: 58.3333%; }
.column.offset8 { left: 66.6667%; }
.column.offset9 { left: 75.0000%; }
.column.offset10 { left: 83.3333%; }
.column.offset11 { left: 91.6667%; }

.row.offset0 { top: 0.0000%; }
.row.offset1 { top: 8.3333%; }
.row.offset2 { top: 16.6667%; }
.row.offset3 { top: 25.0000%; }
.row.offset4 { top: 33.3333%; }
.row.offset5 { top: 41.6667%; }
.row.offset6 { top: 50.0000%; }
.row.offset7 { top: 58.3333%; }
.row.offset8 { top: 66.6667%; }
.row.offset9 { top: 75.0000%; }
.row.offset10 { top: 83.3333%; }
.row.offset11 { top: 91.6667%; }

.column.size1 { width: 8.3333%; }
.column.size2 { width: 16.6667%; }
.column.size3 { width: 25.0000%; }
.column.size4 { width: 33.3333%; }
.column.size5 { width: 41.6667%; }
.column.size6 { width: 50.0000%; }
.column.size7 { width: 58.3333%; }
.column.size8 { width: 66.6667%; }
.column.size9 { width: 75.0000%; }
.column.size10 { width: 83.3333%; }
.column.size11 { width: 91.6667%; }
.column.size12 { width: 100.0000%; }

.row.size1 { height: 8.3333%; }
.row.size2 { height: 16.6667%; }
.row.size3 { height: 25.0000%; }
.row.size4 { height: 33.3333%; }
.row.size5 { height: 41.6667%; }
.row.size6 { height: 50.0000%; }
.row.size7 { height: 58.3333%; }
.row.size8 { height: 66.6667%; }
.row.size9 { height: 75.0000%; }
.row.size10 { height: 83.3333%; }
.row.size11 { height: 91.6667%; }
.row.size12 { height: 100.0000%; }

.column.fill {
	width: auto;
	right: 0;
}

.row.fill {
	height: auto;
	bottom: 0;
}

.scrollX {
	overflow-x: scroll;
}

.scrollY {
	overflow-y: scroll;
}