*, *:before, *:after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}

.row {
	width: 1024px;
	max-width: 100%;
	margin: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
	float: left;
	width: 100%;
	padding: 0;
}

.column .column {
	padding: 0 !important;
}

.row.nofill .one.column { width: 8.333%; }
.row.nofill .two.column { width: 16.666%; }
.row.nofill .three.column { width: 25%; }
.row.nofill .four.column { width: 33.333%; }
.row.nofill .five.column { width: 41.666%; }
.row.nofill .six.column { width: 50%; }
.row.nofill .seven.column { width: 58.333%; }
.row.nofill .eight.column { width: 66.666%; }
.row.nofill .nine.column { width: 75%; }
.row.nofill .ten.column { width: 83.333%; }
.row.nofill .eleven.column { width: 91.666%; }
.row.nofill .twelve.column { width: 100%; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 640px) {
	.one.column { width: 8.333%; }
	.two.column { width: 16.666%; }
	.three.column { width: 25%; }
	.four.column { width: 33.333%; }
	.five.column { width: 41.666%; }
	.six.column { width: 50%; }
	.seven.column { width: 58.333%; }
	.eight.column { width: 66.666%; }
	.nine.column { width: 75%; }
	.ten.column { width: 83.333%; }
	.eleven.column { width: 91.666%; }
	.twelve.column { width: 100%; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}