body {
	background-color: #126B6C;
}

.header {
	text-align: center;
}

.header h1 {
	font-size: 32px;
	line-height: 64px;
	letter-spacing: 24px;
}

.glow {
	color: #7BE8E9;
	text-shadow: 0 0 8px rgba(255,255,255,0.5);
}

.about .container {
	margin: 8px;
	background-color: #031415;
	color: #ffffff;
	padding: 8px;
	border-radius: 4px;
	border: 1px solid #7BE8E9;
	box-shadow: 0 0 8px rgba(255,255,255,0.5);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li {
	margin: 0;
	padding: 0;
	padding-left: 32px;
}

ul li:before {
	content: "- ";
	padding-right: 16px;
}